@font-face {
   font-family: BaronNeue;
   src: url(Baron\ Neue.otf);
}

body {
   font-family: 'BaronNeue', cursive;
   color: #F2F2F2;
}

.wrapper {
   width: 1920px;
   height: 1080px;
   background-image: url('./DonationBar_1080.png');
   overflow: hidden;
}

.inner-wrapper {
   width: 1048px;
}

#streamer-name {
   font-size: 40pt;
   padding: 10px 50px 0px 170px;
   margin: 0;
}

/* Individual Streamer Goal */
.top-wrapper > h3 {
   font-size: 35pt;
   padding-right: 10px;
   margin-top: -5px;

}

/* Total event goal */
#OMLEventName {
   padding-left: 170px;
}

.bottom-wrapper  h5 {
   font-size: 35pt;
   margin-top: -10px;
   padding-right: 10px;
   color: #9A4060;
}